<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <h1><center>User Registeration</center></h1></br>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src= "main.js"></script>
</head>
<body>
    <form action="register" method = "POST">
        {% csrf_token %}
        
        <input type="text" class="form-control"  name="first_name" placeholder="Enter First Name"></br>
        <input type="text" class="form-control"  name="last_name" placeholder="Enter Last Name"></br>
        <input type="text" class="form-control"  name="username" placeholder="Enter User Name"></br>
        <input type="email" class="form-control"  name="email" placeholder="Enter Email"></br>
        <input type="password" class="form-control"  name="password1" placeholder="Enter Password"></br>
        <input type="password" class="form-control"  name="password2" placeholder="Confirm Password"></br>
        <p align="center"><button type="submit" class="btn btn-primary">Register</button></p>

     

    </form>

    <div>
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>

</body>
</html>